In [6]:
import pandas as pd
import fileinput
import json

In [7]:
df = pd.DataFrame()
with fileinput.input(files='/Users/jaeyoungkim/Desktop/usc/DSCI - 558/project/github/Untitled/name_crawler/player.jl') as file:
    for line in file:
        conv = json.loads(line)
        df = df.append(conv, ignore_index=True)
df.head()

              name     season               team DateOfBirth  height Position
0     David Carney  2000/2001         Everton FC  30/11/1983  181 cm       MF
1     Stephen Carr  2000/2001  Tottenham Hotspur  29/08/1976  175 cm       DF
2  Jamie Carragher  2000/2001       Liverpool FC  28/01/1978  185 cm       DF
3  Michael Carrick  2000/2001    West Ham United  28/07/1981  186 cm       MF
4      Lee Carsley  2000/2001      Coventry City  28/02/1974  178 cm       MF

In [8]:
len(df)

13006

In [14]:
unique_players = df[["name"]].drop_duplicates()
unique_teams = df[["team"]].drop_duplicates()

In [18]:
print("# of unique players : ",len(unique_players))
print("# of unique teams : ",len(unique_teams))

# of unique players :  4337
# of unique teams :  43

In [35]:
df2 = df

In [36]:
def f(x):
    return x["season"] + "-" + x["team"]

df2["season_team"] = df2[["season", "team"]].apply(lambda x : f(x), axis = 1)

In [37]:
df2 = df2.groupby("name")["season_team"].apply(list).reset_index(name='season_team')

In [39]:
df2['length'] = df2["season_team"].apply(len)

In [41]:
## avg # of seaons per player
sum(df2['length'])/len(df2)

2.998847129352087